:root {
  --main-green-color: #7f874f;
  --main-light-green-color: #9ea864;
  --main-grey-color: #404040;
  --main-brown-color: #767474;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
  padding-top: 1em;
  height: max-content;
}

.page-content {
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Lato, sans-serif;
  margin-bottom: 10%;
}

.page-header {
  text-align: left;
}

.services {
  text-align: left;
  font-size: 16px;
  line-height: 20px;
}

.services-description {
  margin-bottom: 24px;
}

.service {
  margin-bottom: 1.5em;
}

.contact-us {

}

.address-block {
  text-align: left;
  margin-bottom: 20px;
}

.address-block h4 {
  font-size: 18px;
}

.contact-form {
  text-align: left;
  align-items: left;
  margin-bottom: 20px;
}

.hours {
  text-align: left;
  margin-bottom: 15px;
}

.hours h4 {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.navigate {
  border: 0;
  float: left;
  margin-bottom: 20px;
}

.join-team {
  float: left;
  width: 100%;
}

.job-opening {
  font-size: 16px;
  margin-bottom: 40px;
  width: 100%;
}

.job-opening-content {
  text-align: left;
  max-width: 675px;
  margin-bottom: 20px;
}

.job-opening h2 {
  font-family: 'Montserrat', 'sans-serif';
	font-weight: 700;
	line-height: 35px;
  margin-bottom: 0px;
}

.job-opening-offers {
  margin-top: 20px;
}

.green {
  color: var(--main-green-color) !important;
}

.grey {
  color: var(--main-grey-color) !important;
}

.terra-footer {
  margin-top: 0px !important;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-brown-color)
}

.footer-socials {
  width: 100%;
  padding-top: 15px;
  margin-bottom: 1.5em;
}

.footer-social {
  display: inline;
  font-size: 18px;
  margin: 5px;
}

.footer-social a {
  color: white;
}

.footer-social a:hover {
  color: var(--main-green-color);
}

.footer-contact {
  font-size: 16px;
  margin-bottom: 30px;
}

.footer-contact-icon {
  margin-bottom: 10px;
}

.footer-contact a {
  color: white;
}

.rich-text {
  white-space: pre-line;
}

.clear-margins {
  margin: 0 0 0 0 !important;
}

.ui.menu {
  margin-bottom: 0px !important;
}

.ui.menu .navbar-logo:before {
  width: 0px !important;
}

.ui.menu .active.item:not(.navbar-icon) {
  color: var(--main-green-color) !important;
  background: none !important;
  text-decoration: underline !important;
  text-decoration-color: var(--main-grey-clor) !important;
}

.ui.menu .grey.active.item {
  color: var(--main-green-color) !important;
}

.ui.menu .item:hover {
  color: var(--main-green-color) !important;
}

.full-width {
  width: 100%;
}

.branded-button {
  text-align: center;
	text-transform: uppercase;
	padding: 5px 20px 5px 20px;
	border-radius: 4px;
	margin: 10px;
	border: none;
	background-color: var(--main-light-green-color);
	box-shadow: none;
	text-shadow: none;
	font-weight: 400;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	font-size: 14px;
	color: #FFF;
}

.outlined-button {
  	padding: 10px;
    margin: auto;
    background-color: Transparent;
    border: 1px solid var(--main-light-green-color);
}

.outlined-button:hover {
    color: white !important;
    background-color: rgba(0,0,0,0.15);
}

.outlined-button a {
  color: var(--main-light-green-color);
  width: 100%;
  padding: 10px;
  text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #555;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
}
