:root {
  --main-green-color: #7f874f;
  --main-grey-color: #404040;
}

.App {
  text-align: center;
  height: 100%;
}

.page {
  padding-top: 1em;
  height: 100%;
}

.green {
  color: var(--main-green-color) !important;
}

.grey {
  color: var(--main-grey-clor) !important;
}

.ui.menu {
  margin-bottom: 0px !important;
}

.ui.menu .active.item {
  color: var(--main-green-color) !important;
  background: none !important;
  text-decoration: underline !important;
  text-decoration-color: var(--main-grey-clor) !important;
}

.ui.menu .item:hover {
  color: var(--main-green-color) !important;
}
